[submodule "node_modules/bootstrap"]
	path = node_modules/bootstrap
	url = git://github.com/twbs/bootstrap.git
[submodule "node_modules/babylon"]
	path = node_modules/babylon
	url = https://github.com/BabylonJS/Babylon.js.git
